<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NLP - Emotion Detection</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="./static/mywebscript.js"></script>
    <style>
        .center-heading {
            text-align: center;
        }

        .section-pad {
            padding: 25px;
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <h1 class="center-heading">NLP - Emotion Detection</h1>
            <div class="section-pad">
                <h2 class="mb-3">
                    <label class="form-label" for="textToAnalyze">Please enter the text to be analyzed</label>
                    <textarea class="form-control" id="textToAnalyze" placeholder="Enter text here"></textarea>
                </h2>

                <div class="section-pad">
                    <button onclick="RunSentimentAnalysis()" class="btn btn-secondary">Run Sentiment Analysis</button>
                </div>
                <div class="section-pad"></div>
                <h2 class="mb-3">
                    <label class="form-label" for="system_response">Result of Emotion Detection</label>
                </h2>

                <div id="system_response" class="section-pad"></div>
            </div>
        </div>
    </div>
</body>
</html>
